CHANNEL=serbiabj

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=ccbikai
TWITTER=ccbikai
GITHUB=ccbikai
DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
TAGS=波黑,移民,生活
COMMENTS=""
LINKS=TAGS,https://telegramblog.vercel.app/tags;Title2,URL3;Title3,URL3;
NAVS=Tags,URL1;Title2,URL3;Title3,URL3;
RSS_BEAUTIFY=""
